* {
  margin: 0;
}
.App {
  text-align: center;
  box-sizing: border-box;
  color: #eeeef0;
}
.header {
  padding: 15px 40px;
  background-color: #282c34;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.header a, .footer a {
  text-decoration: none;
}
.header a:hover, .footer a:hover {
  color: #1976d2;
}
.header_contact{
  margin-left: auto;
}





.main {
  background-color: #0a0a23;
  padding: 20px 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.span_name {
  color: #002ead;
}
.main_skills,
.main_projects {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_skills > ul,
.main_projects > ul {
  padding: 0px;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.main_projects ul > li {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.main_skills ul > li {
  /* width: 40%; */
  padding: 4px 16px;
  border-radius: 4px;
  background-color: #1b1b32;
  box-shadow: rgba(213, 213, 222, 0.2) 0px 10px 18px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position:relative;
}




/* .projects {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #0a0a23;
  flex-wrap: wrap;
} */
.project_item {
height:100%;
width: 100%;
color: #0a0a23;
background-color:#d0d0d5;
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;
padding:10px 10px;
box-sizing:border-box;
gap:10px;
border-radius:8px;
position:relative;
/* box-shadow: rgba(0, 255, 8, 0.6) 0px 6px 10px 4px; */
box-shadow: rgba(213, 213, 222, 0.2) 0px 10px 29px 0px;
}
.skill_item:hover  {
  top: -2px;
}

.project_item:hover {
  top: -4px;
}







.footer {
  background-color:#282c34;
  padding: 15px 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* --dark-blue: #002ead;
--theme-color: #0a0a23;
--gray90: #0a0a23;
--gray85: #1b1b32;
--gray80: #2a2a40;
--gray75: #3b3b4f;
--gray45: #858591;
--gray15: #d0d0d5;
--gray10: #dfdfe2;
--gray05: #eeeef0;
--gray00: #fff;
--header-height: 38px;
--blue-dark: #002ead;
background-color: #282c34; */
